<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Birthday Gift for Someone" />
    <meta name="author" content="Tapoban Ray" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style_cake.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Bitter&family=Cinzel:wght@500&family=IBM+Plex+Mono&family=Josefin+Sans&family=Lugrasimo&family=Pacifico&family=Satisfy&family=Tektur&family=VT323&display=swap");
    </style>
  </head>
  <body>
    <img src="/static/cake.jpg" alt="" />
    <h1>😚 Happy Birthday Adrija 😚</h1>

    <footer>
        <div class="footer">
          <div class="navs">
              <a
                href="/smile"
                style="color: rgba(67, 45, 209, 0.737); text-decoration: none"
                >Home</a
              >
              <a
                href="/"
                style="color: rgba(67, 45, 209, 0.737); text-decoration: none"
                >My Page</a
              >
              <a
                href="#"
                style="color: rgba(67, 45, 209, 0.737); text-decoration: none"
                >Birth Day Cake</a
              >
          </div>
        </div>
      </footer>
  </body>
</html>
